.giphy-images{
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.gif-image{
    object-fit: cover;
    border-radius: 0.5rem;
    min-height: 200px;
    min-width: 200px;
    height: auto;
    width: min-content;
}